<div class="card-hotel" layout="column" layout-gt-sm="row">
    <!--imgage-->
    <div flex flex-gt-sm="35">
        <div class="card-hotel-img"
            ng-style="{'background-image': 'url(assets/images/hotels/'+ctrl.hotel.image+')' }">
            <!--img class="card-hotel-img" ng-src="assets/images/hotels/{{ctrl.hotel.image}}"/-->
        </div>
        
    </div>
    <!--info-->
    <div flex flex-gt-sm="40" class="card-hotel-info">
        <div class="card-hotel-name section-title">
            {{ctrl.hotel.name}}
        </div>
        <div class="card-hotel-stars">
            <span ng-repeat="n in [] | range:1:ctrl.hotel.stars">
                <md-icon class="icon-star" md-svg-src="assets/icons/filters/star.svg" ></md-icon>
            </span>
        </div>
        <div class="card-hotel-amenities">
            <span ng-repeat="amenitie in ctrl.hotel.amenities">
                <md-icon class="icon-ameniti" 
                md-svg-src="assets/icons/amenities/{{amenitie}}.svg" 
                aria-label="star">
            </span>
        </div>
    </div>
    <!--detail-->
    <div flex flex-gt-sm="25" class="card-hotel-detail text-center">
        <div class="card-hotel-detail-msg">
            Precio por noche por habitación
        </div>
        <div class="card-hotel-detail-price">
            <span class="card-hotel-detail-price-currency" >ARS</span>
            {{ ctrl.hotel.price }}
        </div>
        <div class="card-hotel-detail-button">
            <button type="button" class="btn btn-large btn-primary">
                Ver hotel
            </button>
        </div>
    </div>
</div>