<div class="collapse">
    <header class="collapse-header section-title"ng-click="collapse()" layout="colums">
        <span flex class="collapse-header-icon">  
            <md-icon class="icon" md-svg-src="assets/icons/{{icon}}.svg" ></md-icon>
        </span> 
        <span flex class="collapse-header-title">
            {{title}}

            <span class="icon-row" ng-class="isCollapsed?'icon-row-down':'icon-row-up'">
            </span>
        </span>
        
    </header>
    <div class="collapse-main" ng-hide="isCollapsed">
        <ng-transclude></ng-transclude>
    </div>
</div>